<h1>Editing testamento</h1>

<% form_for(@testamento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @testamento %> |
<%= link_to 'Back', testamentos_path %>