<h1>SABER - Sistema Avançado de Busca e Estudo de Referências</h1>
<div id="container">

<% form_tag textos_path, :method => 'get' do  %>
 
<table width="60%">
	<tr>

<td height="40px"width="50%">Testamento<br><%=collection_select(:texto, :testamento_id, Testamento.all, :id, :nome, {:prompt => "Selecione"})%></td>

</tr>
<tr>
<td height="50px"width="50%">Livro<br> <%= collection_select(:texto, :livro_id, Livro.all, :id, :nome, {:prompt => "Selecione"})%></td> 

	</tr>
	<tr>
		<td height="50px">Passagem<br> <%= collection_select(:texto, :pericope_id, Pericope.all, :id, :titulo, {:prompt => "Selecione"})%></td>
	</tr>
	
	<tr>
		<td height="50px">Palavra chave<br><%= text_field_tag :search, params[:search], :size => 50%></td>
	</tr>
	<tr>
		<td align="right" height="50px"><%= submit_tag "Pesquisar"%> </td>
	</tr>
</table>
<% end %>
<br><br>
<div class="flickr_pagination">
<%= will_paginate @textos, options = { :prev_label => "◀", :next_label => "▶"}%>
</div><p>



<% testamento_anterior = '' %>
<% livro_anterior = '' %>
<% @textos.each do |texto| %>
  <% if texto.testamento.nome != testamento_anterior %> 
 <br><h2> <%=h texto.testamento.nome %> Testamento<br> </h2>
    <% testamento_anterior = texto.testamento.nome %>
   <% end %>
   <% if livro_anterior != texto.livro.nome %>
    <br> <h3> <%= texto.livro.nome %></h3>
     <% livro_anterior = texto.livro.nome %>
  <% end %>
<table cellspacing="0" cellpadding="0" border="0">
	<tr class="<%= cycle("even", "odd") %>">
<td class="numero" width="38px"><%=h texto.capitulo %>:<%=h texto.versiculo %></td> <td class="texto" width="700px"> <%=h texto.texto %></td><!--><td><%= link_to 'Show', texto %></td>-->
</tr>
</table>
<% end %>


<br />
<div class="flickr_pagination">
<%= will_paginate @textos, options = { :prev_label => "◀", :next_label => "▶"}%>
</div>
</div>