<div id="container">
<% testamento_anterior = '' %>
<% livro_anterior = '' %>
<% @textos.each do |texto| %>
  <% if texto.testamento.nome != testamento_anterior %> 
 <br><h2> <%=h texto.testamento.nome %> Testamento<br> </h2>
    <% testamento_anterior = texto.testamento.nome %>
   <% end %>
   <% if livro_anterior != texto.livro.nome %>
    <br> <h3> <%= texto.livro.nome %></h3>
     <% livro_anterior = texto.livro.nome %>
  <% end %>
<table cellspacing="0" cellpadding="0" border="0">
	<tr class="<%= cycle("even", "odd") %>">
<td class="numero" width="38px"><%=h texto.capitulo %>:<%=h texto.versiculo %></td> <td class="texto" width="700px"> <%=h texto.texto %></td>
</tr>
</table>
<% end %>


<br />

</div>