<div id="container">
	<br>
<p>
   <h2> <%=h @texto.testamento.nome %> testamento</h2>
</p>

<p>
 <h3> <%=h @texto.livro.nome %></h3> 
</p>

<p>
 <h4><%=h @texto.pericope.titulo %></h4>
<table>
	<tr>
		<td class="numero">  
<%=h @texto.capitulo %>:<%=h @texto.versiculo %></td><td class="texto"> <%=h @texto.texto %></td></tr></table>
</p>


<br>

<%= link_to 'Edit', edit_texto_path(@texto) %> |
<%= link_to 'Back', textos_path %>
</div>