<% title "New Search" %>

<% form_for @search do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :testament_id %><br />
    <%= f.text_field :testament_id %>
  </p>
  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :chapter %><br />
    <%= f.text_field :chapter %>
  </p>
  <p>
    <%= f.label :verse_ft %><br />
    <%= f.text_field :verse_ft %>
  </p>
  <p>
    <%= f.label :verse_lt %><br />
    <%= f.text_field :verse_lt %>
  </p>
  <p>
    <%= f.label :passage_id %><br />
    <%= f.text_field :passage_id %>
  </p>
  <p>
    <%= f.label :verse %><br />
    <%= f.text_area :verse %>
  </p>
  <p><%= f.submit %></p>
<% end %>


