<% title "Search" %>

<p>
  <strong>Testament:</strong>
  <%=h @search.testament_id %>
</p>
<p>
  <strong>Book:</strong>
  <%=h @search.book_id %>
</p>
<p>
  <strong>Capitulo:</strong>
  <%=h @search.chapter %>
</p>
<p>
  <strong>Versiculo Inicial:</strong>
  <%=h @search.verse_ft %>
</p>
<p>
  <strong>Versiculo Final:</strong>
  <%=h @search.verse_lt %>
</p>
<p>
  <strong>Passage:</strong>
  <%=h @search.passage_id %>
</p>
<p>
  <strong>Verse:</strong>
  <%=h @search.verse %>
</p>

<p>
</p>
