<% title "Search" %>

<p>
  <strong>Testamento:</strong>
  <%=h @search.testamento_id %>
</p>
<p>
  <strong>Livro:</strong>
  <%=h @search.livro_id %>
</p>
<p>
  <strong>Capitulo:</strong>
  <%=h @search.capitulo %>
</p>
<p>
  <strong>Versiculo Inicial:</strong>
  <%=h @search.versiculo_ini %>
</p>
<p>
  <strong>Versiculo Final:</strong>
  <%=h @search.versiculo_fin %>
</p>
<p>
  <strong>Pericope:</strong>
  <%=h @search.pericope_id %>
</p>
<p>
  <strong>Texto:</strong>
  <%=h @search.texto %>
</p>

<p>
</p>
