<h1>New passage</h1>

<% form_for(@passage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p>
    <%= f.label :cap_inicial %><br />
    <%= f.text_field :cap_inicial %>
  </p>
  <p>
    <%= f.label :ver_ini %><br />
    <%= f.text_field :ver_ini %>
  </p>
  <p>
    <%= f.label :cap_final %><br />
    <%= f.text_field :cap_final %>
  </p>
  <p>
    <%= f.label :ver_final %><br />
    <%= f.text_field :ver_final %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', passages_path %>