<h1>Editing pericope</h1>

<% form_for(@pericope) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :livro_id %><br />
    <%= f.text_field :livro_id %>
  </p>
  <p>
    <%= f.label :cap_inicial %><br />
    <%= f.text_field :cap_inicial %>
  </p>
  <p>
    <%= f.label :ver_ini %><br />
    <%= f.text_field :ver_ini %>
  </p>
  <p>
    <%= f.label :cap_final %><br />
    <%= f.text_field :cap_final %>
  </p>
  <p>
    <%= f.label :ver_final %><br />
    <%= f.text_field :ver_final %>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pericope %> |
<%= link_to 'Back', pericopes_path %>