<p>
  <b>Livro:</b>
  <%=h @pericope.livro_id %>
</p>

<p>
  <b>Cap inicial:</b>
  <%=h @pericope.cap_inicial %>
</p>

<p>
  <b>Ver ini:</b>
  <%=h @pericope.ver_ini %>
</p>

<p>
  <b>Cap final:</b>
  <%=h @pericope.cap_final %>
</p>

<p>
  <b>Ver final:</b>
  <%=h @pericope.ver_final %>
</p>

<p>
  <b>Titulo:</b>
  <%=h @pericope.titulo %>
</p>


<%= link_to 'Edit', edit_pericope_path(@pericope) %> |
<%= link_to 'Back', pericopes_path %>