<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Textos: <%= controller.action_name %></title>

<%= stylesheet_link_tag 'awesome-buttons' %>
<%= stylesheet_link_tag 'prettyForms' %>
<%= stylesheet_link_tag 'jquery.suggest.css' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery.suggest.js" %>
<%= stylesheet_link_tag 'paginate' %>
<%= javascript_include_tag 'prettyForms.js' %>
<%= javascript_include_tag 'jquery.corner.js' %>
<script type="text/javascript">

$('#formulario').corner("20");

</script>

</head>
<body onload="prettyForms()">
	<div id="topo">
	<h1>SABER - Sistema Avançado de Busca e Estudo de Referências</h1>

	<div id="formulario">
	<% form_tag textos_path, :method => 'get' do  %>

	<table width="100%">
		<tr>
			<td><h3>Testamento</h3><%=collection_select(:texto, :testamento_id, Testamento.all, :id, :nome, {:prompt => "Selecione"})%></td>
			<td><h3>Livro</h3> <%= collection_select(:texto, :livro_id, Livro.all, :id, :nome, {:prompt => "Selecione"})%></td> 
			<td><h3>Passagem</h3> <%= collection_select(:texto, :pericope_id, Pericope.all, :id, :titulo, {:prompt => "Selecione"})%></td>
			<td><h3>Palavra chave</h3><%= text_field_tag :search, params[:search], :size => 30%></td>
			<td><br><%= submit_tag "Pesquisar"%> </td>
		</tr>

	</table>
	<% end %>
	</div>

	</div>
<p style="color: red"><%= flash[:notice] %></p>

<%= yield %>
<div class="flickr_pagination">
<%= will_paginate @textos, options = { :prev_label => "◀", :next_label => "▶"}%>
</div>
</body>
</html>
