<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Textos: <%= controller.action_name %></title>

<%= stylesheet_link_tag 'awesome-buttons' %>
<%= stylesheet_link_tag 'prettyForms' %>
<%= stylesheet_link_tag 'jquery-ui-1.8.4.custom' %>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'paginate' %>
<%= javascript_include_tag 'prettyForms.js' %>
<%= javascript_include_tag 'jquery.corner.js' %>
<script type="text/javascript">


</script>

</head>
<body onload="prettyForms()">
	<div id="topo">
	<h1>SABER - Sistema Avançado de Busca e Estudo de Referências</h1>

	<div id="formulario">
	<% form_tag textos_path, :method => 'get' do  %>

	<table width="100%">
		<tr>
			<td><h5>Testamento</h5><%=collection_select(:texto, :testamento_id, Testamento.all, :id, :nome, {:prompt => "Selecione"})%></td>
			<td><h5>Livro</h5> <%= collection_select(:texto, :livro_id, Livro.all, :id, :nome, {:prompt => "Selecione"})%></td> 
			<td><h5>Capítulo</h5><%= text_field_tag :find_capitulo, params[:search], :size => 6%></td>
			<td><h5>Versículo</h5><%= text_field_tag :find_versiculo, params[:search], :size => 6%></td>
			<td><h5>Passagem</h5> <%= collection_select(:texto, :pericope_id, Pericope.all, :id, :titulo, {:prompt => "Selecione"})%></td>
			<td><h5>Palavra chave</h5><%= text_field_tag :search, params[:search], :size => 30%></td>
			<td><br><%= submit_tag "Pesquisar"%> </td>
		</tr>

	</table>
	<% end %>
	</div>

	</div>
<p style="color: red"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
