<% form_tag verses_path, :method => 'get' do  %>
<table width="100%">
	<tr>
		<td><h5>Testament</h5><%=collection_select(:testament, :testament_id, Testament.all, :id, :name, {:prompt => "Selecione"})%></td>
		<td><h5>Book</h5> <%= collection_select(:book, :book_id, Book.all, :id, :name, {:prompt => "Selecione"})%></td> 
		<td><h5>Capítulo</h5><%= text_field_tag :chapter, params[:chapter], :size => 6%></td>
		<td><h5>Versículo</h5><%= text_field_tag :verse_number, params[:verse_number], :size => 6%></td>
		<td><h5>Passagem</h5> <%= collection_select(:passage, :passage_id, Passage.all, :id, :title, {:prompt => "Selecione"}, :html => {:width => 10})%></td>
		<td><h5>Palavra chave</h5><%= text_field_tag :search, params[:search], :size => 30%></td>
		<td><br><%= submit_tag "Pesquisar"%> </td>
	</tr>
</table>
<% end %>
