<% form_tag textos_path, :method => 'get' do  %>
<table width="100%">
	<tr>
		<td><h5>Testamento</h5><%=collection_select(:testamento, :testamento_id, Testamento.all, :id, :nome, {:prompt => "Selecione"})%></td>
		<td><h5>Livro</h5> <%= collection_select(:livro, :livro_id, Livro.all, :id, :nome, {:prompt => "Selecione"})%></td> 
		<td><h5>Capítulo</h5><%= text_field_tag :capitulo, params[:capitulo], :size => 6%></td>
		<td><h5>Versículo</h5><%= text_field_tag :versiculo, params[:versiculo], :size => 6%></td>
		<td><h5>Passagem</h5> <%= collection_select(:pericope, :pericope_id, Pericope.all, :id, :titulo, {:prompt => "Selecione"}, :html => {:width => 10})%></td>
		<td><h5>Palavra chave</h5><%= text_field_tag :search, params[:search], :size => 30%></td>
		<td><br><%= submit_tag "Pesquisar"%> </td>
	</tr>
</table>
<% end %>
